{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <h1 class="banner-text">ToDo</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text"  class="form-control" name="task" placeholder="enter task">
                    <input type="text"  class="form-control" name="priority" placeholder="enter priority">
                    <input type="date"  class="form-control" name="date" placeholder="enter date">
                </div>
                <input type="submit" class="btn btn-success">
            </form>

        </div>
        <div class="col-md-6">
            <h5>Task to be Done </h5>
            {% for i in Task %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.priority}}</p>
                    <p class="card-text">{{i.date}}</p>
                    <a href="{% url 'delete' i.id %}" class="btn btn-primary">Done</a>
                    <a href="{% url 'update' i.id %}" class="btn btn-success">Edit</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
